<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HomeTheater Login</title>
    <link rel="stylesheet" th:href="@{/login.css}">
    <link rel="icon" type="image/png" th:href="@{https://raw.githubusercontent.com/nikholt1/HTasset/refs/heads/main/storedAssets/R.png}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<section class="login-section" style="background-image: url('https://raw.githubusercontent.com/nikholt1/HTasset/main/loginImage/loginImage.jpg');">

    <div class="login-wrapper">
        <!-- Logo centered above the login container
        <div class="logo-container">
            <img src="https://raw.githubusercontent.com/nikholt1/HTasset/main/loginImage/logo.png" alt="Logo" class="login-logo">
        </div>
-->
        <div class="login-container">
            <h1>Login</h1>
            <form th:action="@{/login}" method="post">
                <input type="text" name="username" id="username" required placeholder="Enter Username" />
                <input type="password" name="password" id="password" required placeholder="Enter Password" />
                <button type="submit">Login</button>
            </form>
            <p th:if="${param.error}">Invalid username or password.</p>
            <p th:if="${param.logout}">You have been logged out.</p>
        </div>
    </div>
</section>
</body>
</html>
