<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>


    <meta charset="UTF-8">
    <title>Add Profile</title>
    <link rel="icon" type="image/png" th:href="@{https://raw.githubusercontent.com/nikholt1/HTasset/refs/heads/main/storedAssets/R.png}">
    <link rel="stylesheet" th:href="@{/manage_account_styles.css}">

</head>
<body>

<section class="barMagenta">
    <!-- <img class="barMagentaImage" th:src="@{/images/imagesTemplates/barMagentaLight.jpg}"> -->
    <img class="barMagentaImage" th:src="@{https://raw.githubusercontent.com/nikholt1/HTasset/refs/heads/main/browser/barMagenta.png}">

</section>
<div class="addUser-container">
    <h2>Add New Profile</h2>

    <form th:action="@{/profiles/addUser}" th:object="${user}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" th:field="*{username}" required/>

        <label for="profilePicture">Choose a profile picture:</label>
        <select id="profilePicture" th:field="*{profilePicturePath}">
            <option th:each="img : ${images}" th:value="${img}" th:text="${img}"></option>
        </select>

        <button type="submit">Add Profile</button>
    </form>
</div>
<section class="barMagenta">
    <img class="barMagentaImageReverse" th:src="@{https://raw.githubusercontent.com/nikholt1/HTasset/refs/heads/main/browser/barMagenta.png}">

</section>

</body>
</html>